body{
    background-color: #ffffff;
    background-image: url("https://i.pinimg.com/originals/ad/47/af/ad47af29ad50df1477b9413f9d521db0.jpg");
    background-attachment: fixed;
    background-size: cover;

}